<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="chirp-plugin"
    version="1.0.0">
    <name>Chirp Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/riverajefer/plugin-template.git</repo>
    

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="ChirpPlugin" />

      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ChirpPlugin">
          <param name="android-package" value="com.example.ChirpPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

      <framework src="assets/mi.gradle" custom="true" type="gradleReference" />
      <resource-file src="assets/chirp-connect-3.3.4.aar" target="libs/chirp-connect-3.3.4.aar" />

      <source-file src="src/android/com/example/ChirpPlugin.java" target-dir="src/com/example/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="ChirpPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="ChirpPlugin">
                <param name="ios-package" value="ChirpPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/ChirpPlugin.h" />
        <source-file src="src/ios/ChirpPlugin.m" />
    </platform>
</plugin>
